  <base href="/services">

	<div class="servicesPage mask-wrapper" style="background-color: rgb(250, 113, 94);">
		<div class="mask-wrapper-inner">
			<div id="home-page-slides" class="slides-wrapper" style="transform: translate3d(0px, 0px, 0px);">

	<div id="services" class="slide home-feature active" data-id="services" data-rgb="75,181,234" style="display: block;">
		<div class="slide-inner">
	<!-- Picture zone -->
	<div class="picture-zone" style="background-image: url('/assets/img/services.png');"></div>

	<!-- Info zone -->
	<div class="info-zone">
		<div class="info-holder trans-in">
			<span class="subtitle">About Us</span>
			<h2>We crush deadlines<br>and beer.</h2>

				<p>Legwork is an independent studio based in Denver, CO. We create animation and interactive experiences with brands and agencies all over the world.</p>

		</div>
	</div>
</div></div>
</div>
</div>
