/*
 * -----------------------------------------
 *  Typography
 *  @@ File: base/_typography.scss
 * -----------------------------------------
 */

body, .body-text{
    color: $brand-dark-gray;
    font-style: normal;
    font-size: 16px;
    line-height: 1.33;
}

h1, h2, h3, h4, h5 {
    letter-spacing: 0;
}

h1, .h1{
    font-size: 36px;
    color: $brand-dark-blue;
    line-height: 0.42;
    line-height: normal;

}
h2, .h2{
    font-size: 28px;
    color: $brand-dark-gray;
    line-height: 0.5;
    line-height: normal;
}
h3, .h3 {
    font-size: 24px;
    line-height: normal;
    color: $brand-dark-blue;
}
h4, .h4 {
    font-size: 20px;
    color: $brand-dark-gray;
    line-height: normal;
}
h5, .h5{
    font-size: 18px;
    line-height: normal;
    color: $brand-dark-gray;
}

ol, ul {
    list-style: none;
}

a.btn.cta-icon em{
    margin-right: 10px;
}
a.btn.cta-icon{
    margin-bottom: 5px;
}
a {
  color: #fff;
    text-decoration: none;
    outline: 0;
}
